body {
  background-size: cover;
  background-position: center;
}

.map-container {
  position: relative;
  width: 640px;
  height: 480px;
  margin: auto;
}

#mapCanvas {
  width: 100%;
  height: 100%;
  display: block;
}

.hero-icon {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
  left: 0;
  transition: top 0.2s, left 0.2s;
}
