<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>сЃѕсЃЃсЃЌсЃџсЃ╝сѓИ</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- тцќжЃеCSS -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/c15dba52a2.js" crossorigin="anonymous"></script>
</head> 
  <body>
    <h1>сѓѕсЂєсЂЊсЂЮ№╝Ђ</h1>
    <form action="/form" method="get">
      <button type="submit">тљЇтЅЇсЂет╣┤жйбсѓњтЁЦтіЏсЂЎсѓІ</button>
    </form>

    <br>

  <!-- сЂЊсЂЊсЂФRPGсЂИсЂ«сЃфсЃ│сѓ»сЃюсѓ┐сЃ│сѓњУ┐йтіа -->
  <form action="/rpg/start" method="get">
    <button type="submit">­ЪДЎ RPGсѓњжЂісЂХ</button>
  </form>
  
</body>
</html>
