<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>トップページ</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- 外部CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/c15dba52a2.js" crossorigin="anonymous"></script>
</head> 
  <body>
    <h1>ようこそ！</h1>
    <form action="/form" method="get">
      <button type="submit">名前と年齢を入力する</button>
    </form>

    <br>
  
</body>
</html>
