<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ユーザー一覧</title>
  <link rel="stylesheet" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/c15dba52a2.js" crossorigin="anonymous"></script>
</head>
<body>
  <h1>登録ユーザー一覧</h1>

  <ul>
    <% if (users.length === 0) { %>
      <li>まだ登録されていません</li>
    <% } else { %>
      <% users.forEach(user => { %>
          <% users.forEach(user => { %>
            <li>
              <span><%= user.name %>（<%= user.age %>歳）</span>
              <div class="action-buttons">
                <a href="/users/<%= user.id %>/edit" class="action-button edit-button">編集</a>
                <a href="/users/<%= user.id %>/delete" class="action-button delete-button" onclick="return confirm('本当に削除しますか？');">削除</a>
              </div>
            </li>            
          <% }) %>
      <% }); %>
    <% } %>
  </ul>

  <a href="/">← フォームに戻る</a>
</body>
</html>
