<!DOCTYPE html>
<html>
<head>
  <title>RPG Demo</title>
  <style>
    canvas {
      border: 1px solid #000;
      image-rendering: pixelated;
    }
  </style>
</head>
<body>
  <% if (hero) { %>
    <canvas id="field" width="512" height="512"></canvas>
    <script src="/js/rpg/map.js"></script>
  <% } else { %>
    <p>勇者の情報が見つかりません。<a href="/rpg/start">最初から始める</a></p>
  <% } %>
</body>
</html>
